@{
    ViewData["Title"] = "Detail";
}

@model Course

<h1>Course Details</h1>

<div>
    <h4>Id</h4>
    <p>@Model.Id</p>
</div>

<div>
    <h4>Name</h4>
    <p>@Model.Name</p>
</div>

<div>
    <h4>Descripion</h4>
    <p>@Model.Description</p>
</div>

<p>
    <a asp-action="Index">Back to List</a>
</p>
